/* GENERAL */

:root {
  --primary: #9cc8fa;
  --secondary: #248aff;
}

a {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--primary);
}

a:hover {
  color: var(--secondary);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--secondary);
}

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

.openingText p {
  padding: 10px 0;
  font-size: 18px;
}

/* NAV BAR */

.nav-menu {
  padding: 10px 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.main-menu {
  padding: 20px 0;
}

.nav-menu li {
  list-style: none;
  font-size:18px;
}

/* LANDING PAGE */

.banner-area {
  background-color: white;
}

.banner-left h1 {
  font-family: "Poppins", sans-serif;
  color: var(--primary);
  line-height: 1.2em !important;
  font-weight: 600;
  font-size: 60px;
  text-transform: uppercase;
}

.fullscreen {
  height: 720px;
}

.keyboard-key {
  opacity: 0;
}

/* ANIMATION PAGE */

.animation-section {
  padding: 20px;
}

.animations-banner {
  background-color: #9cc8fa;
}

.animations-banner-content {
  margin-top: 70px;
  padding: 90px 0px;
  text-align: center;
}
